.flexContainer{
    display: flex;
    margin: 150px 0;

    h2{
        margin: 0;
        color: $tertiary;
    }

    p{
        margin: 0 0 30px 0;
    }
}

.imgContainer img{
    margin-right: 100px;
    margin-top: 20px;
    box-shadow: -20px 20px 1px $tertiary;
}

.textContainerEvents{
    width: 60%;
}

