header {
    background-image: url(../assets/home-image-1.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
   
}

nav ul{
    display: flex;
    text-transform: uppercase;
    justify-content: center;
   
}

nav li{
    margin: 10px 40px;
}

li:first-child a{
    color: $tertiary;
}

h1,
span{
    margin-bottom: 0;
    display: block;
    z-index: 3;
    
}

span{
    position: relative;
    bottom: 83px;
    left: 6px;
}

.flex{
    display: flex;
    justify-content: center;
    
}

.headerBox{
    position: relative;
}

.headerBox img{
    position: absolute;
    width:100vh;
    bottom: -100px;
    right: 0;
    z-index: 1;
    
}