//Colors
//primary = Off white: #ffffff;
//secondary = Rust red: #bf2603;
//tertiary = Dusty orange: #ff8327;
//quaternary = Black: #111010;
//quinary = Dark red: #220303;

//Text fonts
//
$primaryFont: 'Tulpen One',cursive;
$secondaryFont: 'Chathura',sans-serif;

$baseFontSize: 1rem;

$primary: #ffffff;
$secondary: #bf2603;
$tertiary: #ff8327;
$quaternary: #111010;
$quinary: #220303;
